In [8]:
list= [1,11,19,87]
print (list) #prints the list with items.

[1, 11, 19, 87]

In [10]:
print (list[0]) #prints 1st item
print (list[2]) #prints 3rd item
print (list[-1]) #prints last item

1
19
87

In [13]:
print(list[0:3]) #prints first 3 items
print(list[1:3]) #prints 2nd and 3rd item

[1, 11, 19]
[11, 19]

In [18]:
list2 = [22,12,92]  #created a second list.
list3 = list+list2 #concatenation of lists
print (list3) #prints the concatenated list

[1, 11, 19, 87, 22, 12, 92]

In [19]:
list3.append(17) #add a new number at the end of the list

In [20]:
print(list3)

[1, 11, 19, 87, 22, 12, 92, 17]

In [21]:
list3.insert(0,29) #insert the number(29) at the first index and shift the list to right
print(list3)

[29, 1, 11, 19, 87, 22, 12, 92, 17]

In [22]:
list3.pop() #removes the last number from list
print (list3)

[29, 1, 11, 19, 87, 22, 12, 92]

In [23]:
list3.pop(3) #removes the 3rd index number ie 19
print (list3)

[29, 1, 11, 87, 22, 12, 92]

In [24]:
list3.remove(87) #removes perticular value for eg 87 in this case
print (list3)

[29, 1, 11, 22, 12, 92]

In [37]:
print (list3)
print (type(list3)) #data type
print (len(list3))
list3[0]="aaa" #replaces the 1st element with new element
print (list3)

[29, 1, 11, 22, 12, 92]
<class 'list'>
6
['aaa', 1, 11, 22, 12, 92]

In [29]:
my_list=["Hello", "World", 1987]
list_list=[["Hello", "World", 1987],[1,2]] #list of list
print (my_list)
print (list_list)

['Hello', 'World', 1987]
[['Hello', 'World', 1987], [1, 2]]

In [36]:
print (len(list_list)) 
print (len(my_list))
print(list_list[0]) #prints 1st list of list
print(list_list[1]) #prints 2nd list of list
print(list_list[0][0]) #print 1st element of 1st list from list of list
print(list_list[1][1]) #print 2nd element from 2nd list

2
3
['Hello', 'World', 1987]
[1, 2]
Hello
2

In [43]:
tup = ("ari","piy",87,92) #its a tupple. created with paranthesis (). datas can't be changed
print (tup[2])
print (tup)
tup[0]="jijo"
print (tup) #tuples are immutable, you can't change

87
('ari', 'piy', 87, 92)

TypeError: 'tuple' object does not support item assignment